<%- include("header") -%>

<h2>About this website</h2>

<p>This is the todo list website where you can add your daily tasks. You can also make custom list depending on your needs.</p>

<%- include("footer") -%>
